/* http://meyerweb.com/eric/tools/css/reset/
   v2.0 | 20110126
   License: none (public domain)
*/
html,
body,
div,
span,
applet,
object,
iframe,
h1,
h2,
h3,
h4,
h5,
h6,
p,
blockquote,
pre,
a,
abbr,
acronym,
address,
big,
cite,
code,
del,
dfn,
em,
img,
ins,
kbd,
q,
s,
samp,
small,
strike,
strong,
sub,
sup,
tt,
var,
b,
u,
i,
center,
dl,
dt,
dd,
ol,
ul,
li,
fieldset,
form,
label,
legend,
table,
caption,
tbody,
tfoot,
thead,
tr,
th,
td,
article,
aside,
canvas,
details,
embed,
figure,
figcaption,
footer,
header,
hgroup,
menu,
nav,
output,
ruby,
section,
summary,
time,
mark,
audio,
video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
menu,
nav,
section {
  display: block;
}
body {
  line-height: 1;
}
ol,
ul {
  list-style: none;
}
blockquote,
q {
  quotes: none;
}
blockquote:before,
blockquote:after,
q:before,
q:after {
  content: '';
  content: none;
}
table {
  border-collapse: collapse;
  border-spacing: 0;
}

/* app styles */
body {
  background-color: #f1f1f1;
  width: 100vh;
  height: 100vh;
  font-family: 'Raleway', sans-serif;
}
.slideshow,
.slideshow:after {
  position: fixed;
  width: 100%;
  height: 100%;
  top: 0px;
  left: 0px;
  z-index: 0;
}
/* .slideshow:after {
  content: '';
  background: transparent url(../_img/pattern.png) repeat top left;
} */
.slideshow li span {
  width: 100%;
  height: 100%;
  position: absolute;
  top: 0px;
  left: 0px;
  color: transparent;
  background-size: cover;
  background-position: 50% 50%;
  background-repeat: none;
  opacity: 1;
  z-index: 0;
}
.slideshow li div {
  position: absolute;
  z-index: 2;
  width: 100%;
  text-align: center;
  top: 5%;
}
@media screen and (min-width: 768px) {
  .slideshow li div {
    top: 2.5%;
    left: 2%;
  }
}
.slideshow li p {
  /* offset-x | offset-y | blur-radius | color */
  text-shadow: 1px 1px 2px black;
}
.slideshow li a {
  color: rgba(241, 241, 241, .9);
  text-decoration: none;
}
.slideshow .photographer-info a:hover {
  color: rgba(241, 241, 241, 1) !important;
}
#camera-icon {
  font-size: .75em;
  text-align: center;
  padding-right: 5px;
  z-index: 2;
}
/*_______________________preloader_______________________*/
.spinner {
  position: absolute;
  top: 38%;
  left: 48%;
  width: 40px;
  height: 40px;
  position: relative;
  text-align: center;

  -webkit-animation: sk-rotate 2.0s infinite linear;
  animation: sk-rotate 2.0s infinite linear;
}

.dot1,
.dot2 {
  width: 60%;
  height: 60%;
  display: inline-block;
  position: absolute;
  top: 0;
  background-color: #333;
  border-radius: 100%;

  -webkit-animation: sk-bounce 2.0s infinite ease-in-out;
  animation: sk-bounce 2.0s infinite ease-in-out;
}

.dot2 {
  top: auto;
  bottom: 0;
  -webkit-animation-delay: -1.0s;
  animation-delay: -1.0s;
}

@-webkit-keyframes sk-rotate {
  100% {
    -webkit-transform: rotate(360deg);
  }
}
@keyframes sk-rotate {
  100% {
    transform: rotate(360deg);
    -webkit-transform: rotate(360deg);
  }
}

@-webkit-keyframes sk-bounce {
  0%,
  100% {
    -webkit-transform: scale(0.0);
  }
  50% {
    -webkit-transform: scale(1.0);
  }
}

@keyframes sk-bounce {
  0%,
  100% {
    transform: scale(0.0);
    -webkit-transform: scale(0.0);
  }
  50% {
    transform: scale(1.0);
    -webkit-transform: scale(1.0);
  }
}
.spinner-wrapper {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: #f1f1f1;
  background-image: radial-gradient(
    circle farthest-corner at 50% 50%,
    #f1f1f1 0%,
    #f1f1f1 50%,
    #919191 100%
  );
  z-index: 100;
  opacity: 1;
  /*display: block;*/
  transition: opacity 8s;
  transition: display 8s 4s;
}
.spinner-wrapper h1 {
  position: relative;
  top: 38%;
  text-align: center;
  font-size: 5.5em;
}
@media screen and (min-width: 768px) {
  .spinner-wrapper h1 {
    font-size: 8.4em;
  }
}
.hide-preloader {
  position: absolute;
  opacity: 0;
  display: none;
}
.slideshow-image--hide {
  opacity: 0;
  transition: all 8s;
  /*   display: none; */
}
.slideshow-image--reveal {
  opacity: 1;
  /* display: block; */
  transition: all 8s;
}
.photographer-info {
  z-index: 10;
  font-size: 1.75em;
  letter-spacing: .06em;
  font-family: 'Great Vibes', cursive;
  /* text-align: center; */
}
@media screen and (min-width: 768px) {
  .photographer-info {
    text-align: left;
    margin-top: .75em;
    margin-left: .25em;
  }
}
.disclaimer {
  font-family: 'Raleway', sans-serif;
  margin-top: .1em;
  padding-top: 0;
  text-align: center;
  font-family: arial;
  font-size: 1em;
  color: rgba(241, 241, 241, .8);
}
@media screen and (min-width: 768px) {
  .disclaimer {
    text-align: left;
    margin-left: 4.5em;
  }
}
blockquote {
  position: absolute;
  left: 0;
  bottom: 5%;
  text-align: center;
  z-index: 2;
  color: rgba(241, 241, 241, .7);
  transition: color .5s;
  padding: 0 1em;
}
blockquote:hover {
  color: rgba(241, 241, 241, 1);
  transition: color .5s;
}
.quote-frame {
  font-size: 1.75em;
  line-height: 1.25;
}
.quote-author-frame {
  padding-top: .5em;
  font-size: 1.2em;
}
@media screen and (min-width: 768px) {
  blockquote {
    width: 70%;
    left: 15%;
  }
  .quote-frame {
    font-size: 2em;
    letter-spacing: .03em;
  }
  .quote-author-frame {
    padding-top: .45em;
    font-size: 1.25em;
  }
}

@media screen and (min-width: 1200px) {
  blockquote {
    width: 50%;
    left: 25%;
  }
}

/* menu */
.menu-frame {
  right: 12%;
  top: 1.75%;
  position: absolute;
  background: #45453f;
  cursor: pointer;
}

@media screen and (min-width: 768px) {
  .menu-frame {
    right: 6%;
  }
}

@media screen and (min-width: 1200px) {
  .menu-frame {
    right: 3%;
    top: 2.2%;
  }
}

.pulse {
  width: 10px;
  height: 10px;
  border: 5px solid #f1f1f1;
  -webkit-border-radius: 30px;
  -moz-border-radius: 30px;
  border-radius: 30px;
  background-color: rgba(241, 241, 241, .07);
  z-index: 1;
  position: absolute;
}

.dot {
  border: 10px solid #f1f1f1;
  background: transparent;
  -webkit-border-radius: 60px;
  -moz-border-radius: 60px;
  border-radius: 60px;
  height: 50px;
  width: 50px;
  -webkit-animation: pulse 3s ease-out;
  -moz-animation: pulse 3s ease-out;
  animation: pulse 3s ease-out;
  -webkit-animation-iteration-count: infinite;
  -moz-animation-iteration-count: infinite;
  animation-iteration-count: infinite;
  position: absolute;
  top: -25px;
  left: -25px;
  z-index: 1;
  opacity: 0;
}

@-moz-keyframes pulse {
  0% {
    -moz-transform: scale(0);
    opacity: 0.0;
  }
  25% {
    -moz-transform: scale(0);
    opacity: 0.1;
  }
  50% {
    -moz-transform: scale(0.1);
    opacity: 0.3;
  }
  75% {
    -moz-transform: scale(0.5);
    opacity: 0.5;
  }
  100% {
    -moz-transform: scale(1);
    opacity: 0.0;
  }
}

@-webkit-keyframes "pulse" {
  0% {
    -webkit-transform: scale(0);
    opacity: 0.0;
  }
  25% {
    -webkit-transform: scale(0);
    opacity: 0.1;
  }
  50% {
    -webkit-transform: scale(0.1);
    opacity: 0.3;
  }
  75% {
    -webkit-transform: scale(0.5);
    opacity: 0.5;
  }
  100% {
    -webkit-transform: scale(1);
    opacity: 0.0;
  }
}
